<br/>
<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        <input type="text" ng-model="qq" class="form-control" style="position:fixed;top:55px;right:15px;width:320px;"/>
    </div>
</div><br/>
<div class="auto-grid">
  <div ng-repeat="cb in beerData | filter:qq | orderBy : propertyName:reverse as results track by $index">
      <h5>Name: {{cb.liqName}}</h5>
      <div>Size: {{cb.liqSize}}</div>
      <div>Date: {{cb.invoiceDate |date:"MMM-dd-yyyy"}}</div>
      <div>Buying: ${{cb.price}}</div>
      <div>Selling: ${{cb.sellPrice}}</div>
      <div>Quantity: ${{cb.quantity}}</div>
  </div>
</div>